
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>by ilker</p>
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="/javascript/index.js"></script>
</body>
</html>
